@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background: black;
    color: white;
}

.barradepesquisa {
    align-content: center;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-sizing: content-box;
    box-sizing: 50%;
}
header{
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
.user{
  
    height: 100px;

}
.user p{
    font-family: Poppins, sans-serif;
   
}
p{
    font-family: Poppins, sans-serif;
}

.conta{
    width: 50px;
}
#pesquisa{
    width: 200px;
    border: none;
    height: 20px;
}

.menu { background:  rgba(104, 48, 121, 0.927);
    width: 350px;
    height: 100%;
    
    

}
li{
    font-family: Poppins, sans-serif;
}
a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 5px;
    margin: 0px;
    
}

a:hover{
    background-color: blue;
}

ul {
    list-style: none;
    
}
.Grafico{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 370px;
    margin-top: -275px;
    background-color: rgba(104, 48, 121, 0.927);
    width: 750px;
    border-radius: 30px;

}
.area0{background: body;
    color: white;
    line-height: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-block-end: auto;
    box-sizing: border-box;
    border-radius: 30px;
    width: 320px;
    height: 180px;
}


.area1 {
    background: rgba(104, 48, 121, 0.927);
    color: white;
    line-height: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-block-end: auto;
    box-sizing: border-box;
    border-radius: 30px;
    width: 180px;
    height: 180px;
}

.area2 {
    background: rgba(104, 48, 121, 0.927);
    color: white;
    line-height: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-block-end: auto;
    box-sizing: border-box;
    border-radius: 30px;
    width: 180px;
    height: 180px;
            
}


.area3 {
    box-sizing: content-box;
    background: rgba(104, 48, 121, 0.927);
    color: white;
    line-height: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-block-end: auto;
    box-sizing: border-box;
    border-radius: 30px;
    width: 180px;
    height: 180px;
}
.area4{
    background: body;
    color: white;
    line-height: 20px;
    text-align: center;
    box-sizing: content-box;
    margin-block-end: auto;
    box-sizing: border-box;
    border-radius: 30px;
    width: 180px;
    height: 180px;
}

.Dados{
    display:flex ;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    
}
.indices{
    display: flex;
    flex-direction: row;
}

.Legenda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    width: 780px;
    height: 50px;
    background-color:rgba(104, 48, 121, 0.927) ;
    margin-top: 20px;
    margin-left: 365px;
    border-radius: 30px;
    margin-right: 150px;

}
.Legenda p{
    margin-left: 10px;
    margin-right: 100px;
}
.Q1{
    width: 50px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: -80px;
}
.respondidas { 
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 10px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: -90px;
    margin-left: -30px;
    
    
    
}
.Q1{width: 100px;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-right: -10px;
    
  
}

.nao-respondidas {
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: -90px;
    margin-top: 20px;
    
    
    
}
.nao-respondidas p{
    margin-right: -50px;
}
.graphics{
   transform-origin: center center;
   width: 750px;
   height: 260px;
   border-radius: 30px;
}
.chart{
    width: 750px;
    height: 260px;
    border-radius: 30px;
    margin-top: 0px;

}

footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 150px;
    width: 100%;
    background-color:rgba(104, 48, 121, 0.927) ;
    height: 100px;
    

}
footer p{
    
    text-align: center;
}